.img-circle {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.dropdown-title {
  margin-left: 10px;
  margin-right: 5px;  
}

.upper-menu.dropdown-menu {
  top: initial;
  bottom: 100%;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 10px;
}
.dropdown-toggle {
  text-align: right;
}
