.windowbox {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: auto;
  overflow-y: auto;
  background-color: rgba(0,0,0,.5);
}

.windowbox__dialog {
  width: 100%;
  max-width: 750px;
  margin: 60px auto 170px;
}

.windowbox__content {
  position: relative;
  border: 1px solid #979797;
  border-radius: 5px;
  outline: 0;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.windowbox__header {
  position: relative;
  padding: 8px 20px;
  border-radius: 4px 4px 0px 0px;
  background-color: #157FCC;
  color: #FFF;
  font-size: 14px;
  cursor: default;
}
.windowbox__header--left {
  text-align: left;
}
.windowbox__header--center {
  text-align: center;
}

.windowbox__close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  outline: 0;
}

.windowbox__body {
  padding: 30px 25px;
}

.windowbox__footer {
  padding: 5px 10px;
  border-top: 1px solid #CCC;
}
.windowbox__footer--left {
  text-align: left;
}
.windowbox__footer--center {
  text-align: center;
}
.windowbox__footer--right {
  text-align: right;
}
